*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo menu*/

body{
    min-height: 100vh;
    background-image: url(../img/fondo.jpg);
}

.body{
    min-height: 100vh;
}

#menu{
    background-color: #730217D9;
    color: white;
}

header{
    background-color: #730217D9;
    text-transform: uppercase;
    font-family:'Montserrat';
    font-weight: bold;
}

#menu a{
    color: #F0EBEF;
    text-transform: uppercase;
    font-family:'Montserrat';
    font-weight: bold;
}

.dropdown-menu{
    text-transform: uppercase;
    font-family:'Montserrat';
    font-weight: bold;
    background-color: #730217D9;
}

.navbar-toggler-icon{
    background-color: #97152dd9;
}



/* estilos generales footer */

footer{
    display: flex;
    align-items: baseline;
    background-color: #730217D9;
    justify-content:space-around;
    color: #fcfcfc;
    margin-top: auto;
}

.footer-titulo{
    color: #fcfcfc;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-left: 12px;
}

.redes-s{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-family: 'Montserrat';
    font-size: 25px;
    margin: 5px;
}

footer nav ul li{
    display: inline-block; 
}

footer nav ul li a{
    color: white;
    text-decoration: none;
}

/* estilos generales pages */

.card-body{
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat';
    background-color: white;
    color: black;
    justify-content: center;
    font-weight: bold;
    padding: 25px;
}

.largometrajes{
    font-size: 30px;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight:bold;
    background-color: #730217D9;
}

.bg-titulo{
    background-color: #730217D9;
    padding: 15px;
    color: white;
    text-transform: uppercase;
}

.color-sinopsis{
    color: black;
    background-color: #F0EBEF;
}

.col-md-6{
    background-color: black;
    border-radius: 0.5rem;
}

.img-fluid{
    border-radius: 1rem;
    padding: 7px;
    background-color: white;
}

#volverA{
    padding-left: 50px;
    font-family: 'Montserrat';
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.card-title{
    color: white;
    background-color: #730217D9;
    padding: 1rem;
    border-radius: 0.5rem;
    padding-left: 60px;
    font-size: 25px;
    font-weight: bold;
}

.tamaño-video{
    width: 830px;
    height: 440px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.videoclip{
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold;
    padding-left: 230px;
}

.link-videoclips{
    padding-left: 230px;
}

.contacto{
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight:bold;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh; 
}

.head{
    background-color: #730217D9;
    border-radius: 5px;
    padding: 5px;
    margin-top: -70px;
    box-shadow: -1px 4px 20px -4px #fc4365d9;
}

.btn1{
    background-color: #730217D9;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    border-radius: 5px;
    height: 40px;
    width: 135px;
}


.form input{
    width: 180px;
}

.card-text{
    background-color: #F0EBEF;
    color: black;
    padding: 10px;
}

.card{
    padding: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

main{
    margin-bottom: 40px;
}

.videoclip{
    color: white;
    font-size: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 535px;
    font-weight:bold;
}

@media only screen and (min-width:200px){
    .form input{
        width: 120px;
    }
}

@media only screen and (min-width:350px){
    .form input{
        width: 180px;
    }
}


@media only screen and (min-width:700px){
    
    .form input{
        width: 350px;
    }
}

@media only screen and (min-width:1024px){

    .form input{
        width: 350px;
    }
}