*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo menu*/

body{
    height: 100vh;
    background-image: url(../img/fondo.jpg);
}

.body{
    height: 87vh;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0BB3D9;
}

header h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-left: 260px;
}

header nav ul{
    display: flex;
    text-decoration: none;
    text-decoration: underline;
    color: white;
    justify-content: space-around;
    color: white;
}

header nav ul li{
    list-style: none;
    margin: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
}

header nav ul li a{
    text-decoration: underline;
    color: white;
}

.container-fluid{
    padding-top: 100px;
    margin-bottom: 250px;
}

/* estilos generales footer */

footer{
    display: flex;
    align-items: baseline;
    margin-top:auto;
    background-color: #0BB3D9;
    justify-content:space-around;
    color: #fcfcfc;
}

.footer-titulo{
    color: #fcfcfc;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 140px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.redes-s{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 5px;
}

footer nav ul li{
    display: inline-block; 
}

footer nav ul li a{
    color: white;
    text-decoration: none;
}

/* estilos generales pages */

.card-body{
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.largometrajes{
    font-size: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold;
}

.card-body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.volverA{
    padding-left: 525px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    text-transform: uppercase;
}

.card-title{
    text-transform: uppercase;
    font-weight:bold;
}

.tamaño-video{
    width: 830px;
    height: 440px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.videoclip{
    font-size: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold;
    padding-left: 230px;
}
.link-videoclips{
    padding-left: 230px;
}

.contacto{
    font-size: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    padding-left: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 22px;
}